body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: #f5f5f5;

}

footer {
    margin: 50px 0;
}

.content_header {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.body-container {
    background-color: #fff;
    border-left: #ccc 1px solid;
    border-right: #ccc 1px solid;
}
.back-link a {
    position: relative;
    top: 30px;
    color: darkorange;
}

.bordered_container {
    border: #ccc 1px solid;
}
.margin_bottom {
    margin-bottom: 15px;
}

.top-container {
    border-bottom: #ccc 1px solid;
}

.right-sidebar {
    border-left: #ccc 1px solid;
    padding-top: 20px;
    height: 100%;
}

.left-sidebar {
    padding-top: 20px;
    /*display: inline-flex;*/
}

.left-sidebar a {
    color: darkorange;
}
